---
import { Icon } from "astro-icon";
---

<div class="big-card">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pb-4">
        <div class="card-image position-relative">
          <img src="/src/images/womenlatest.jpg" alt="" />
          <div class="bigcard-text">
            <p>Get 40% Off</p>
            <h3>Women's New Collection</h3>
            <p>
              <a class="btn">
                <Icon class="ic-16" name="ph:caret-right-bold" />
              </a> SHOP NOW
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-image position-relative">
          <img src="/src/images/menlatest.jpg" alt="" />
          <div class="bigcard-text">
            <p>Stay Upto Date</p>
            <h3>Men's Trendy fashion</h3>
            <p>
              <a class="btn">
                <Icon class="ic-16" name="ph:caret-right-bold" />
              </a> SHOP NOW
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
