---
import Men from "@layouts/home/men.astro";
import Women from "@layouts/home/women.astro";

import { Icon } from "astro-icon";
---

<div class="card-page">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between">
      <div class="latest-head">
        <h2>Popular Products</h2>
        <p>Showing our latest arrival on this summer</p>
      </div>

      <div class="d-flex men-women">
        <a class="p-2 heroPrev1-btn arrow-button" href="#">Men</a>
        <a class="p-2 heroNext1-btn arrow-button" href="#">Women</a>
      </div>
    </div>
  </div>

  <div class="container card-sliderbg">
    <div class="swiper swiperhero3">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><Men /></div>
        <div class="swiper-slide"><Women /></div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>
