---
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="square">
          <img src="/src/images/grid-card/menfashion.jpg" alt="" />
        </div>
        <div class="vert">
          <img src="/src/images/grid-card/couplecard.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="vert">
          <img src="/src/images/grid-card/bagcard.jpg" alt="" />
        </div>
        <div class="square">
          <img src="/src/images/grid-card/shoescard.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="square">
          <img src="/src/images/grid-card/bagcard.jpg" alt="" />
        </div>
        <div class="vert">
          <img src="/src/images/grid-card/bagcard.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
