<div class="rachele-jeans">
  <div class="sliding">
    <div class="container">
      <div class="row slide-flex align-items-center justify-content-center">
        <div class="slider-text col">
          <p>Featured Product</p>
          <h1 class="slider-head">Rachele's<br /> Fashionable<br /></h1>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit,
            minima molestias?
          </p>
          <div class="offer">$199 <del>$399</del></div>
          <button type="button" class="btn-1">
            <a href="#">BUY NOW</a>
          </button>
          <p class="pt-3 pb-1">Ends in</p>
          <div class="d-flex gap-2 align-items-center">
            <div class="px-3 py-2 rounded bg-white" id="demo"></div>
            <div class="px-3 py-2 rounded bg-white" id="hour"></div>
            <div class="px-3 py-2 rounded bg-white" id="mins"></div>
            <div class="px-3 py-2 rounded bg-white" id="sec"></div>
          </div>
        </div>
        <div class="col-7">
          <div class="slider-img">
            <img src="/src/images/shop-black.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
