---
import { Icon } from "astro-icon";
---

<section class="service">
  <div class="container">
    <div class="row service-flex">
      <div class="col-md-3 d-flex col-sm-6">
        <i class="fa-solid fa-truck-fast col-3 service-icon"></i>
        <div class="service-text">
          <h5>Free Shipping</h5>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
      </div>
      <div class="col-md-3 d-flex col-sm-6">
        <i class="fa-regular fa-credit-card col-3 service-icon"></i>
        <div class="service-text">
          <h5>Secure Payments</h5>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
      </div>
      <div class="col-md-3 d-flex col-sm-6">
        <i class="fa-solid fa-boxes-packing col-3 service-icon"></i>
        <div class="service-text">
          <h5>Easy Returns</h5>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
      </div>
      <div class="col-md-3 d-flex col-sm-6">
        <i class="fa-solid fa-clock col-3 service-icon"></i>
        <div class="service-text">
          <h5>24/7 Support</h5>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
      </div>
    </div>
  </div>
</section>
